.forwardAnimation path {
  animation: animateForward 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.backwardAnimation path {
  animation: animateBackward 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes animateForward {
  0% {
    d: path(
      'M1195.31 191.87C1170.17 210.407 1070.46 272.041 858.55 269.96C742.384 268.819 698.983 241.615 654.331 213.629C603.155 181.553 550.337 148.447 384.451 152.371C114.616 158.759 20.5898 33.8881 0.548584 0.983215L0.548584 637.546C46.0909 611.022 145.411 568.77 320.699 564.39C440.667 561.393 486.577 586.756 533.808 612.849C587.94 642.755 643.81 673.62 814.9 663.848C1040.05 650.983 1149.9 727.174 1195.31 773.599V191.87Z'
    );
  }
  100% {
    d: path(
      'M1195.31 191.5C1170.17 210.037 1148.5 238.5 947.5 253C831.334 251.859 773.652 219.486 729 191.5C677.824 159.424 573.886 92.076 408 96C138.166 102.388 20.5898 33.4049 0.548584 0.5L0.548584 577.546C46.0909 551.022 49.711 477.88 225 473.5C344.967 470.503 432.269 510.407 479.5 536.5C533.632 566.406 607.91 572.272 779 562.5C1004.15 549.635 1149.9 667.174 1195.31 713.599V191.5Z'
    );
  }
}

@keyframes animateBackward {
  0% {
    d: path(
      'M1195.31 191.5C1170.17 210.037 1148.5 238.5 947.5 253C831.334 251.859 773.652 219.486 729 191.5C677.824 159.424 573.886 92.076 408 96C138.166 102.388 20.5898 33.4049 0.548584 0.5L0.548584 577.546C46.0909 551.022 49.711 477.88 225 473.5C344.967 470.503 432.269 510.407 479.5 536.5C533.632 566.406 607.91 572.272 779 562.5C1004.15 549.635 1149.9 667.174 1195.31 713.599V191.5Z'
    );
  }
  100% {
    d: path(
      'M1195.31 191.87C1170.17 210.407 1070.46 272.041 858.55 269.96C742.384 268.819 698.983 241.615 654.331 213.629C603.155 181.553 550.337 148.447 384.451 152.371C114.616 158.759 20.5898 33.8881 0.548584 0.983215L0.548584 637.546C46.0909 611.022 145.411 568.77 320.699 564.39C440.667 561.393 486.577 586.756 533.808 612.849C587.94 642.755 643.81 673.62 814.9 663.848C1040.05 650.983 1149.9 727.174 1195.31 773.599V191.87Z'
    );
  }
}
